* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background: #000;
}
.contenedor {
    width: 25%;
    margin: 70px auto;
    padding: 5px 0;
    border-radius: 3px;
    background: #fff;
    overflow: hidden;
}
header {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
}
header .logo {
    color: #000;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 5px 10px;
    width: 20px;
    font-size: 40px;
}
header .rigo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
header .rigo h5 {
    margin-right: 20px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
header .rigo h6 {
    margin-right: 20px;
    margin-top: -8px;
    padding: 0 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 18px;
}
header .menu {
    color: #000;
    margin-left: 180px;
    margin-bottom: 20px;
    padding: 5px 10px;
    width: 20px;
    font-size: 40px;
}

section img {
    width: 100%;
}

section .iconos .otros {
    color: #000;
    font-size: 30px;
    margin: 5px;
}
section .iconos .save {
    color: #000;
    font-size: 30px;
    margin: 20px 5px;
    margin-left: 220px;
}

section .like {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 20px 5px;
}
section .text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 20px 5px;
}